<% include ../partials/header %>
<div class="starter-template">
    <h1>Escolha o seu Número</h1>
    <ul class="list-group list-group-flush">
        <% numeros.map(i => { %>
        <li class="list-group-item"><a href="/tabuadas/do/<%= i %>">Tabuada do <%= i %></a></li>
        <% }) %>
    </ul>
</div>
<% include ../partials/footer %>