<% include ../partials/header %>
<div class="starter-template">
    <h1>Tabuada do Número <%= num %></h1>
    <table class="table table-striped table-bordered table-hover">
        <% tabuadas.map( item => { %>
        <tr>
            <td><%= item.num %></td>
            <td>x</td>
            <td><%= item.i %></td>
            <td>=</td>
            <td><%= item.resultado %></td>
        </tr>
        <% }) %>
    </table>
</div>
<% include ../partials/footer %>