body { 
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    padding-left: 20px;
}
h2 {
    background-color: #C4C4C4;
    padding: 8px;
    font-size: 24px;
}
h3 {
    font-size: 24px;
}
h1{
    text-align: center;
}

p{
    text-align: center;
}

label {
    display: block;
    margin: 20px 0 4px 0;
}

input, select {
    padding: 8px;
    width: 540px;
}

textarea {
    padding: 8px;
    width: 540px;
    height: 320px;
}

button {
    padding: 12px;
}