<% include header.ejs %>
<h2>
    Editar Categoria:
    <a href="/admin/categorias">Categorias</a>
</h2>
<div>
    <form method="POST">
        <label>Título</label>
        <input type="text" name="categoria" value="<%= categoria.categoria %>">
        <button>Salvar Categoria</button>
    </form>
</div>
<% include footer.ejs %>