<% include header.ejs %>
<h2>Admin:</h2>
<div>
    <ul>
        <li><a href="/admin/categorias">Gerenciar Categorias</a></li>
        <li><a href="/admin/vagas">Gerenciar Vagas</a></li>
    </ul>
</div>

<% include footer.ejs %>