<html>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        socket.on('msg', msg => {
            console.log(msg)
        })
        setInterval(() => {
            socket.emit('msg', { body: 'Estou Ouvindo! ' })
        }, 2000)
    </script>
</body>

</html>