<% include header.ejs %>
<h2>Open Roles</h2>
<% categorias.forEach( categoria => { %>
<div>
    <h3><%= categoria.categoria %></h3>
    <ul>
        <li><a href="vaga"> Fullstack Developer (Remote)</a></li>
    </ul>
</div>
<% }) %>
<% include footer.ejs %>