<% include header.ejs %>
<h2>Fullstack Developer (Remote)</h2>
<div>
    <h3>Engineering team</h3>
    <ul>
        <li><a href="vaga"></a> Fullstack Developer (Remote)</a></li>
    </ul>
</div>
<div>
    <h3>Marketing team</h3>
    <ul>
        <li>Digital Marketing (San Francisco)</li>
    </ul>
</div>
<% include footer.ejs %>