<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<form method="POST">
    <textarea name="comment" id="comment" cols="30" rows="10">Teste</textarea>
    <div class="g-recaptcha" data-sitekey="6LdylLQUAAAAAO21akJuCt6JXYt8POEcjzGpDdm9"></div>
    <button type="submit">Enviar</button>
</form>